.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.AppContainer {
  display: flex;
  flex-direction: row;
}

.AnimalItem {
  justify-content: space-between;
  align-items: center;
}

.AnimalItemContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding-left: 2rem;
}

.AnimalItem img {
  width: 15rem;
  height: 13rem;
}

.AnimalTextContainer {
  height: 275px;
  width: 15rem;
  background-color: rgb(238, 202, 202);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 1rem;
}

.Clear {
  background-color: rgba(228, 128, 28, 0.651);
  padding: .5rem;
  border-radius: 1rem;
  font-size: x-large;
  width: 15rem;
  margin-top: 3rem;
}

.Favorites {
  background-color: rgba(160, 240, 200, 0.651);
  padding: .5rem;
  border-radius: 1rem;
}

.FiltersCard {
  padding-left: 3rem;
  padding-right: 3rem;
}

.FilterContainer {
  background-color: rgba(165, 233, 233, 0.747);
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  border-radius: 1rem;
}

.Main {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 80px;
  padding: 5rem;
  margin-bottom: 5rem;
  background-color: rgb(191, 166, 213);
}

.NotFavorites {
  background-color: rgb(250, 213, 167);
  padding: .5rem;
  border-radius: 1rem;
}

.Title {
  font-size: x-large;
  padding: 1rem;
}